## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
#vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation_search.csv")
vacation_df = pd.read_csv("Weather_Database/WeatherPy_vacation_search.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,City Desc,Lat,Lng,Hotel Name
0,1,Matara,LK,76.87,broken clouds,5.9485,80.5353,Amaloh Boutique Resort
1,3,Kirakira,SB,78.49,clear sky,-10.4544,161.9205,SanBiz Lodge
2,9,Bhum,IN,74.01,overcast clouds,18.4667,75.6667,धनंजय होम
3,14,Olinda,BR,76.73,overcast clouds,-8.0089,-34.8553,Flat Quatro Rodas Olinda
4,19,Jevargi,IN,74.64,overcast clouds,17.0167,76.7667,Khamadhenu Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{City Desc} and {Max Temp} °F</dd>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

# vacation_start = vacation_df.loc[]
# vacation_end = vacation_df.loc[]
# vacation_stop1 = vacation_df.loc[]
# vacation_stop2 = vacation_df.loc[] 
# vacation_stop3 = vacation_df.loc[] 


vacation_start = vacation_df.loc[vacation_df["City"] == "Kantunilkin"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Flagstaff"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "San Quintin"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Pacific Grove"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Salinas"]

In [15]:
vacation_stop3

,City_ID,City,Country,Max Temp,City Desc,Lat,Lng,Hotel Name
33,101,Salinas,US,74.01,overcast clouds,36.6777,-121.6555,Laurel Inn & Conference Center

In [16]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start[['Lat','Lng']].to_numpy()[0][0], vacation_start[['Lat','Lng']].to_numpy()[0][1])
end = (vacation_end[['Lat','Lng']].to_numpy()[0][0], vacation_end[['Lat','Lng']].to_numpy()[0][1])
stop1 = (vacation_stop1[['Lat','Lng']].to_numpy()[0][0], vacation_stop1[['Lat','Lng']].to_numpy()[0][1])
stop2 = (vacation_stop2[['Lat','Lng']].to_numpy()[0][0], vacation_stop2[['Lat','Lng']].to_numpy()[0][1])
stop3 = (vacation_stop3[['Lat','Lng']].to_numpy()[0][0], vacation_stop3[['Lat','Lng']].to_numpy()[0][1])

In [19]:
start

(21.0917, -87.45)

In [20]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_route = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(vacation_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,City Desc,Lat,Lng,Hotel Name
0,142,Kantunilkin,MX,77.02,overcast clouds,21.0917,-87.4500,Posada Paraiso
1,98,San Quintin,MX,79.30,broken clouds,30.4833,-115.9500,Don Eddie's Sport Fishing Center
2,161,Pacific Grove,US,72.41,overcast clouds,36.6177,-121.9166,Lovers Point Inn
3,101,Salinas,US,74.01,overcast clouds,36.6777,-121.6555,Laurel Inn & Conference Center

In [27]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{City Desc} and {Max Temp} °F</dd>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [28]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))